body {
  background-color: #2C2F33
  color: #FFFFFF
}

p {
	color: #FFFFFF
}

.submit {

   background: #7289DA;

   background-image: -webkit-linear-gradient(top, #7289DA, #1E62D0);

   background-image: -moz-linear-gradient(top, #7289DA, #1E62D0);

   background-image: -ms-linear-gradient(top, #7289DA, #1E62D0);

   background-image: -o-linear-gradient(top, #7289DA, #1E62D0);

   background-image: linear-gradient(to bottom, #7289DA, #1E62D0);

   -webkit-border-radius: 20px;

   -moz-border-radius: 20px;

   border-radius: 20px;

   color: #FFFFFF;

   font-family: Verdana;

   font-size: 40px;

   font-weight: 100;

   padding: 40px;

   box-shadow: 1px 1px 20px 0px #000000;

   -webkit-box-shadow: 1px 1px 20px 0px #000000;

   -moz-box-shadow: 1px 1px 20px 0px #000000;

   text-shadow: 1px 1px 20px #000000;

   border: solid #337FED 1px;

   text-decoration: none;

   display: inline-block;

   cursor: pointer;

}



.submit:hover {

   background: #1E62D0;

   background-image: -webkit-linear-gradient(top, #1E62D0, #7289DA);

   background-image: -moz-linear-gradient(top, #1E62D0, #7289DA);

   background-image: -ms-linear-gradient(top, #1E62D0, #7289DA);

   background-image: -o-linear-gradient(top, #1E62D0, #7289DA);

   background-image: linear-gradient(to bottom, #1E62D0, #7289DA);

   text-decoration: none;

}

